.button {
  width: 200px;
  padding: 8px;
  font-size: 24px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  color: var(--fournary-font-color);
  background-color: var(--main-button-color);

  font-family: "Dongle", sans-serif;
  text-transform: uppercase;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--secondary-button-color);
}
