.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  background: var(--main-navbar-color);
  padding-left: 24px;
  padding-right: 24px;
  max-height: 58px;
}

.navTitle {
  color: var(--fournary-font-color);
  font-size: 38px;
}

.navLink a {
  text-decoration: none;
  padding-right: 16px;
  color: var(--fournary-font-color);

  font-size: 30px;
  font-weight: 300;
}
