body {
  padding: 0;
  margin: 0;
  font-family: "Dongle", sans-serif;
}

:root {
  --main-background-color: #f8f8f8;
  --secondary-background-color: #3f88c5;
  --main-font-color: #272932;
  --thirnary-font-color: #1cb5e0;
  --fournary-font-color: #ffffff;
  --secondary-font-color: #97b1a6;

  --secondary-button-color: #2f80ed;
  --main-button-color: #1cb5e0;
  --main-navbar-color: linear-gradient(to bottom left, #2f80ed, #1cb5e0);

  --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
